@CHARSET "UTF-8";

@CHARSET "UTF-8";

/* html{
  

} */

body {
  overflow: hidden;
  background: linear-gradient( 45deg, #e5cef4, #59b3f1 );
}
.posts {
    width: 155px;
    /* height: 190px; */
    float: left;
    margin-left: 10%;
}
.showcenter{

    text-align: right;
  
}
.heart{
	cursor: pointer;
}
.heart:HOVER{
	color:pink;
}
.front{
	  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
}

.lcate {
    border: 1px solid #ffffff;
    background: #adcdfe;
    padding: 3px 9px;
    width: 50px;
    height: 20px;
    float: right;
    margin-top: 8px;
    font-weight: 800;
    /* -webkit-border-radius: 6px; */
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
   }
.del {
    /* border: 1px solid #0a3c59; */
    border-right: 1px solid white;
    background: rgba(255, 255, 255, 0);
    padding: 8px 20px;
    /* -webkit-border-radius: 6px; */
    -moz-border-radius: 6px;
    /* border-radius: 6px; */
    /* margin-top: 14px; */
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.updated{
	    width: 160px;
    height: 40px;
    float: right;
    margin-top: 10px;
}



 .imagePo {
    width: 155px;
    height: 190px;
   /*  float: left; */
    display: table-cell;
    vertical-align: middle;
  } 
.adress{
    height: 40px;
    margin: 41px 0px;
}
.scrap{
    width: 100%;
    text-align: right;
}

#container {
    width: 100%;
    top: 45%;
    margin-top: 10px;
    height: 100%;
}
.scroll {
    float: left;
    width: 59%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7%;
    height: 100%;
}
.bar {
    /* margin-top: 1px; */
    /* width: 77px; */
    /* float: right; */
    height: 90%;
    /* height: 51%; */
    width: 345px;
    float: right;
    margin-top: 23px;
    margin-right: 35px;
}
.poImage
{
    width: 100%;
    height: 190px;
    /* position: absolute; */
    border-radius: 1em;
    /* margin-top: -6%; */
    border: 1px solid white;
    border-color: white;
    /* top: 30%; */
}

.fill {/*button  */
position: relative;
    height: 45px;
    width: 150px;
    margin: -8px -105px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #7a6bb3;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #3494cb ;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}


ol.timeline {
    border-left: 0.2em solid;
    border-color: rgb(255, 255, 255);
    padding-left: 2.5em;
    margin-left: 17%;
    list-style: none;
}

.timeline > li {
     position: relative;
    margin-top: 28pt;
    color: #7b9bc1;
    font-size: larger;
}

.timeline > li:before {
    background-color: white;
    text-align: center;

    width: 2em;
    height: 2em;
    line-height: 2em;

    font-size: 100%;

    border: 0.2em solid #ff80c0107191238;
    border-radius: 50%;

    position: absolute;
    left: -3.2em;
}
.timeline > li.call:before {
    content: "\260E";
}
.timeline > li.flight:before {
    content: '\2708';
}
.timeline > li.todo:before {
    content: '\2714';
}
.timeline > li.email:before {
    content: '\0040';
}

.timeline > li time {
    display: block;
    float: left;
    color:#519fb7;
    position: absolute;
    left: -10em;
    text-align: right;
}
.timeline > li time > * {
    display: block;
}
.timeline > li time small {
    color: #585858;
    font-size: 80%;
}

.timeline > li article {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    padding: 7pt 2em;
    border-radius: 5pt;
    display: table;
    width: 380px;
}

.timeline > li:nth-child(even) article {
        background-color: rgba(255, 255, 255, 0.2); /* dark blue */
}


.timeline > li article h3 {
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    color: white;
    /* border-bottom: 1pt dotted; */
}
/* .viewContainer{
    height: 23%;
    width: 540px;
    float: right;
    margin-top: 25px;
    margin-right: 35px;
} */
.dashboard-main {
    height: 23%;
    width: 100%;
    margin-top: 3%;
    padding-top: -2%;
    /* position: absolute; */
    /* margin-left: 62%; */
    color: white;
    background-position-x: -12px;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}
.user-wrapper {
    height: 100%;
    border: 1px solid white;
    width: 100%;
    margin-left: 0%;
}

.user-profile {
    height: 70%;
    padding-top: 3.0%;
    padding-left: 6%;
    /* margin-left: 12%; */
    font-size: 12px;
}

.username {
  font-size: 24px;
  font-weight: 500;
}
.avatar {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 90px;
    margin-right: 2%;
}
.info {
    display: flex;
    padding-left: 12.5%;
    width: 100%;
    padding-top: 1%;
}

.data  > li {
  display: table-cell;
}

.data  > li > span {
  font-size: 1.25em;
  margin-right: 3.5em;
}

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}



.nothing{
  margin-top: 1%;
}
/* .postLength{
  width: 60%;
} */
/*  .sho{
    margin-top: 77px;
    margin-left: 267px;
}
 */

.showBtn {
    border: 1px solid white;
    background: #ffffff;
    border-radius: 5px;
    color: #a0bde8;
    padding: 4px 4px;
    font-size: 14px;
    /* font-family: helvetica, serif; */
    text-decoration: none;
    vertical-align: middle;
   }



.priceTrans {
    color: white;
    width: 50%;
    margin-left: 6%;
    /* margin-right: -8px; */
    margin-top: 4%;
    margin-bottom: 20px;
    /* float: left; */
}
.conPosts {
    margin-left: 37px;
    /* margin-top: 2%; */
    /* border: 2px solid white; */
    border-radius: 5px;
    float: right;
    margin-right: 30px;
    height: 180px;
    overflow: auto;
    padding: 10px;
    width: 30%;
    /* width: 151%; */
}
.reg {
    float: right;
    font-weight: 600;
    font-size: 18px;
    margin-right: 35px;
    text-shadow: #a48bb4 2px 2px 2px;
}

.tran{
border: 1px solid #ffffff;
    background: #c8c8dc;
    padding: 2px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.price-btn {
    border: 1px solid #ffffff;
    background: #cac9dc;
    padding: 2px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
   }

.con{
    color: white;
    word-break: break-all;
    font-size: initial;
}


/* 후기수정 close */
.clo{
  color: #f3bbbb;
}


/*맵아래에잇는 버튼   */

.mapnum {
    border: 0px solid #ffffff;
    background: #aacafd;
    padding: 3.5px 7px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 2%;

   }
   .mapnum:HOVER{
   color: #c194c0;
   }

/* .mapnum:active {
   text-shadow: #ffffff 0 1px 0;
   border: 0px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#7db1d4));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #ffffff;
   } */

/*후기삭제  */

.deletePicts{
      color:#973e88;
    text-decoration: none;
    font-size: x-large;
}


/* 후기타이틀 글씨 */
.modal-title {
    margin: 0;
    color: #f3bbbb;
    line-height: 1.42857143;
}
/* 후기 */
.addPost{
    /* margin-top: 77px; */
    border: 1px solid white;
    /* margin-left: 262px; */
    background: #ffffff;
    border-radius: 5px;
    color: #a0bde8;
    padding: 0px 7px;
    font-size: 14px;
    /* font-family: helvetica, serif; */
    text-decoration: none;
    vertical-align: middle;
    float: right;
    
}
.addPost:hover{

    background: #cac9dc;
    color: #ffffff;
}
.btn-primary:hover {
    color: #fff;
    background-color:#f3bbbb;
    border-color: #f3bbbb;
}
.mapName{
  color: white
}

.btn-primary {
    color: #f3bbbb;
    background-color: rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.1);
}

.modal-content{
    background-color: #fff;
    width: 70%;
    margin-left: 10%;
  
  
}
.fa-arrow-right{
  color: white;
}

.update:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    /* border-top: 1px solid #fffafa; */
    border-color: rgba(255, 255, 255, 0);
}

.update {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    /* border-top: 1px solid #fffafa; */
    border-color: rgba(255, 255, 255, 0);
    width: 25%;
 /*    float: right;
    margin-top: 2%;
    margin-left: 36%; */
}
.price{
    color: #f3bbbb;
    width: 191px;
    height: 40px;
    background-color: #ffffff;
    /* border: 1px solid #f3bbbb; */
    margin-left: -150px;
    margin-top: -19px;
    position: fixed;
    left: 51%;
    top: 30%;
    padding-left: 10px;
    padding-right: 10px;
    transition: box-shadow 320ms;
    /* box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.1); */
    border-radius: 3px;
    border-color: #f3bbbb;
    font-size: 18px;
    border: 0px;
    box-shadow: 0px 0px 1px 1px #f3bbbb;
}

.price:focus {

    outline: 0px;
    outline-offset: 0px;
    box-shadow: 0px 0px 1px 5px rgba(0,0,0,0.12);
}

.price:placeholder {
    color: #f3bbbb;
}


.cont {

    margin-top: 6%;
    padding: 10px;
    font-size: 12px;
    background-color: rgba(255,253,231 ,0.1);
    border: 1px solid #f3bbbb;
    color:#f3bbbb;
    width: 585px;
}


.cont:focus {
    transition: 0.5s;
    background-color: rgba(255,249,196 ,0.2);
    border-color: #f3bbbb;
    outline: 0;
}




textarea::-webkit-input-placeholder {
color: rgba(245,245,245 ,1) !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
textarea:-ms-input-placeholder {  
color: rgba(245,245,245 ,1) !important;  
}

input::-webkit-input-placeholder {
color: rgba(245,245,245 ,1) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
input:-ms-input-placeholder {  
color: rgba(245,245,245 ,1) !important;  
}

#boxing {   
    font-family: arial;
    color: #f3bbbb;
    border: 1px solid #f3bbbb;
    font-size: 13px;
}



.comment {
  color: white;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  right: 35px;
  bottom: 158px;
  z-index: 2;
}


.file {
    /* box-sizing: border-box; */
    border: 1px solid #f3bbbb;
    width: 93%;
    /* font-size: 16px; */
    padding-left: 1px;
    position: absolute;
    top: -3%;
    color: #f3bbbb;
    cursor: pointer;
}
/* .file:focus,
.file:active {
  outline: 0;
  border-color: #808080;
} */
.file::-webkit-file-upload-button {
  -webkit-appearance: none;

  border: 0;
  color: #fff;
  font-size: 14px;
  background: #f3bbbb;
  padding: 16px;
  
  margin-left: -15px;
}


.tel {
    margin-left: 32px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}


.te{
    position: absolute;
    top: 20%;
    left: 33%;
}
.tx{
      border: 1px solid pink;
    width: 100px;
}

/* 
.user-wrapper {
    height: 86%;
    border: 1px solid white;
    width: 90%;
    margin-left: 0%;
}
 */
.user-profile {
     height: 70%;
    padding-top: 3.0%;
    padding-left: 6%;
    /* margin-left: 12%; */
    font-size: 12px;
}



.scheduleButton {
  width: 60px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #5188b1;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.scroll {
    float: left;
    width: 59%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7%;
    height: 100%;
}

#map {
    margin-top: 4.2%;
    /* float: right; */
    margin-right: 3%;
    width: 100%;
    height: 54%;
}

.map-sub {
    float: right;
    width: 100%;
    padding-top: 3%;
    text-align: center;
}



<!-- 일단 상단 유저 인포 수정 -->


/*==================================== 
  Our Modal Window styles
=====================================*/
.modal {
  display: inline-block;
  padding: 1em;
}




.modal > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  border-radius: .2em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s;
}
.modal > label:hover {
  transform: scale(0.97);
}
.modal__overlay {
  background: #ffffff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}
.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}


.modal__wrap label {
    background: #FFD300;
    border-radius: 50%;
    color: #000000;
    border-color: 1 aqua;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: -5%;
    /* top: -400%; */
    margin-top: -51%;
    width: 1.5em;
}
.modal__wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.modal__wrap p {
  color: #FFD300;
  text-align: justify;
}
.modal input:focus ~ label {
  transform: scale(0.97);
}


.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

input:checked ~ .modal__overlay {
    width: 500px;
    height: 500px;
    top: 10%;
    left: 25%;
    opacity: 1;
    transform: scale(1);
    border: 1px solid;
    z-index: 600;
}








/* ************************************************ */
.memo{
  margin-top: 1%;
  text-align: center;
  color: #7171ea;
  font-size: medium;
}


.po{
    font-weight: 100;
    font-size: 17px;
    text-align: center;
   /*  border-bottom: 1pt dotted; */
}
.scriptImage {
    /* margin-top: -10%; */
    width: 100%;
    height: 190px;
    border-radius: 1em;
    /* margin-left: 14%; */
}
.accordion{
/*     background-color: rgba(255, 255, 255, 0.09); */
    border-radius: 0.5em;
/*     border: 1px solid white; */
    color: #ffffff;
    font-size: small;
    /* font-weight: 400; */
    /* width: 86%; */
    margin-top: -2px;
    width: 380px;
}
/* .postBox{
  width:60%;
} */
/* 후기 보기버튼*/



/*좋아요버튼  */
.like-toggle{
  border: none;
  outline: none;
}

.meta{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 0;
  color: #111;
}

.meta.hidden{
  margin-bottom: 28px;
}

.hidden{
  font-size: 0;
}



.one{
    position: absolute;
    right: 15%;
    top: 90%;
    width: 17px;
    height: 17px;
    border-radius: 100px;
    background: #0cf;
    color: #2569a2;
    font-size: 5px;
}

.one.active{
  color: #F26D7D;
}


.like-toggle:hover{
  background: #ddd;
}
/*Map  */
#map {
    background-color: #f19a9a;
}

/*timeline 글자  */
strong {
  font-weight: 600;
  color: white;
}
h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
  font-weight: 100;
  font-size: 2.4em;
}
 @media (min-width: 1680px) {
 .scriptImage {
    /* margin-top: -10%; */
    width: 100%;
    height: 250px;
    border-radius: 1em;
    margin-left: 14%;
}
.price-btn {
    border: 1px solid #ffffff;
    background: #85b9ef;
    padding: 4px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
   }
.tran{
  border: 1px solid #ffffff;
    background: #85b9ef;
    padding: 4px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.conPosts {
    margin-left: 37px;
    /* margin-top: 2%; */
    /* border: 2px solid white; */
    border-radius: 5px;
    float: right;
    margin-right: 30px;
    height: 225px;
    overflow: auto;
    padding: 10px;
    width: 45%;
    /* width: 151%; */
}
.update {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    /* border-top: 1px solid #fffafa; */
    border-color: rgba(255, 255, 255, 0);
    width: 50%;
    /* float: right; */
    /* margin-top: 2%; */
}
.priceTrans {
    color: white;
    width: 35%;
    margin-left: 6%;
    /* margin-right: -8px; */
    margin-top: 1%;
    margin-bottom: 20px;
    /* float: left; */
}
.poImage {
    width: 100%;
    height: 245px;
    border-radius: 1em;
    border: 1px solid white;
    border-color: white;
    /* margin-top: -3%; */
}
.showBtn {
    border: 1px solid white;
    background: #ffffff;
    border-radius: 5px;
    color: #a0bde8;
    padding: 4px 6px;
    font-size: 14px;
    /* font-family: helvetica, serif; */
    text-decoration: none;
    vertical-align: middle;
}
.showcenter {
    margin-top: 70px;
    /* bottom: 20px; */
    /* position: static; */
    text-align: right;
    /* display: flex; */
    /* text-align: center; */
    /* margin: 20px 10px; */
}
.adress {
    height: 40px;
    margin: 50px 0px;
}
.imagePo {
    width: 320px;
    height: 250px;
    /* float: left; */
    display: table-cell;
    vertical-align: middle;
}
.dashboard-main {
    height: 185px;
    width: 100%;
    margin-top: 4%;
    padding-top: -2%;
    /* position: absolute; */
    /* margin-left: 66%; */
    /* margin-right: 33px; */
    /* color: white; */
    background-position-x: -12px;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}
.map-sub {
    float: right;
    width: 100%;
    height: 20%;
    /* padding-right: 63%; */
    padding-top: 10%;
    margin-bottom: 5px;
    overflow: auto;
    /* border: 1px solid white; */
    /* background-color: #99baed; */
    /* height: 172px; */
    /* position: relative; */
    /* margin-right: 4%; */
    box-shadow: 2px 3px 9px #64aacc;
    /* top: 1%; */
    text-align: center;
}
#map {
    margin-top: 2.0%;
    float: right;
    margin-right: 0%;
    width: 100%;
    height: 56%;
}
.sho {
    margin-top: 20px;
    margin-left: 244px;
}
.addPost {
    margin-top: 80px;
    border: 1px solid white;
    /* margin-left: 547px; */
    background: #ffffff;
    border-radius: 5px;
    color: #8ca5eb;
    font-weight: 800;
    padding: 4px 14px;
    font-size: 14px;
    /* font-family: helvetica, serif; */
    text-decoration: none;
    vertical-align: middle;
    float: right;
}
.scroll {
    float: left;
    width: 62%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 11%;
    height: 100%;
}
.accordion{
/*     background-color: rgba(255, 255, 255, 0.32); */
    border-radius: 0.5em;
    color: #7d7d7d;
    font-size: small;
    font-weight: 400;
    /* width: 86%; */
    margin-top:-2px;
    /* margin-left: 0%; */
    width: 720px;
}
.timeline > li article {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    /* padding: 84pt 1em; */
    border-radius: 5pt;
    display: table;
    width: 720px;
    margin-bottom: 20px;
}
.timeline > li:HOVER {
    position: relative;
    margin-top: 28pt;
    color: #dcbadc;
    font-size: 20px;
}
.bar {
    /* margin-top: 1px; */
    /* width: 77px; */
    /* float: right; */
    height: 90%;
    /* height: 51%; */
    width: 470px;
    float: right;
    margin-top: 23px;
    margin-right: 77px;
}
.scrap {
    width: 100%;
    text-align: right;
}
ol.timeline {
    border-left: 0.2em solid;
    border-color: rgb(255, 255, 255);
    padding-left: 2.8em;
    margin-left: 5%;
    list-style: none;
    /* height: 100%; */
}
.timeline > li article h3 {
    font-weight: 100;
    font-size: 26px;
    width: 100%;
    color: white;
    font-weight: 500;
    /* border-bottom: 1pt dotted; */
}
.timeline > li {
    position: relative;
    margin-top: 28pt;
    color: #7b9bc1;
    font-size: 20px;
    margin-bottom: 25px;
}
.fill {
    position: relative;
    height: 45px;
    width: 150px;
    margin: -8px -114px;
    padding: 5px 9px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #7a6bb3;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.tel {
    /* position: absolute; */
    font-size: large;
    /* margin-right: 24%; */
    font-weight: 100;
    margin-left: 12px;
    color: white;
    /* float: left; */
}
.posts {
    width: 305px;
    float: left;
    height: 100%;
    margin-left: 0px;
}

}

@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em;
  }
}
@media (min-width: 1680px) {
.user-wrapper {
    height: 100%;
    border: 1px solid white;
    width: 100%;
    margin-left: 0%;
}
}
@media (min-width: 1680px) {
.mapnum {
    border: 0px solid #ffffff;
    background: #6a9ce9;
    border: 2px solid #ffffff;
    padding: 4.0px 9px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 2%;
}
.reg {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    float: right;
    margin-right: 53px;
    font-family: -webkit-body;
    text-shadow: #7989fd 1px 1px 2px;
    /* margin-left: 77%; */
}
}

@media (min-width: 1680px) {
.info {
    display: flex;
    padding-left: 7.5%;
}
} 
@media (min-width: 1680px) { 
 .user-profile {
    height: 70%;
    padding-top: 3.0%;
    padding-left: 2%;
    /* margin-left: 12%; */
    font-size: 12px;
}
}
@media (min-width: 1680px) {
.avatar {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    margin-right: 2%;
}
}
@media (min-width: 1680px) {
  .username {
    font-size: 30px;
    font-weight: 500;
  }
}
@media (min-width: 1680px) {
  .bio{
    color: white;
    font-size: 17px;
  }
  
}
@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
  }
}
@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
  }
}



